<div class="row">
  <div class="col-lg-12" *ngIf="view == 'default'">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <h5 class="card-title">Admin</h5>
                  </div>
                  <div class="col-sm-6 float-right text-right" style="text-align: right;">
                      <button class="btn btn-outline-primary float-right" (click)="changeView('add',null)"> Add New </button>

                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Username</th>
                              <th scope="col">Email</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of admins">
                              <td>{{row.id}}</td>
                              <td>{{row.username}}</td>
                              <td>{{row.email}}</td>
                              <td>
                                  <button class="btn btn-sm btn-outline-warning mr-2" style="margin-right: 10px;" (click)="changeView('edit',row)">Edit</button>
                                  <button class="btn btn-sm btn-outline-danger" (click)='changeView("delete",row)'>Delete</button>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-12" *ngIf="view == 'add'">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <h5 class="card-title">Admin</h5>
                  </div>
                  <div class="col-sm-6 text-right" style="text-align: right;">
                      <button class="btn btn-outline-dark float-right"  (click)="changeView('default',null)"> Back </button>

                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <form class="form-sample" [formGroup]="adminFormAdd">
                          <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="username" formControlName="username">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label class="label">Email</label>
                                    <input type="text" class="form-control" placeholder="email" formControlName="email">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="label">Password</label>
                                  <input type="text" class="form-control" id="password" placeholder="password" formControlName="password">
                              </div>
                          </div>


                      </div>
                      </form>
                      <button class="btn btn-outline-success float-right ml-1" (click)="createAdmin()"> Create </button>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="col-lg-12" *ngIf="view == 'edit'">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <h5 class="card-title">Admin</h5>
                  </div>
                  <div class="col-sm-6 text-right" style="text-align: right;">
                      <button class="btn btn-outline-dark float-right "  (click)="changeView('default',null)"> Back </button>


                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <form class="form-sample" [formGroup]="adminFormEdit">

                      <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="username" formControlName="username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <label class="label">Email</label>
                                <input type="text" class="form-control" placeholder="email" formControlName="email">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="label">Password</label>
                              <input type="text" class="form-control" id="password" placeholder="password" formControlName="password">
                          </div>
                      </div>


                  </div>
                          <button class="btn btn-outline-success float-right ml-1" (click)="updateAdmin()"> Update </button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
